<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <div class="i-flex ion-align-items-center">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Map</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <div class="i-flex ion-align-items-center">
        <ion-icon name="restaurant"></ion-icon>
        <ion-label>Offers</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <div class="i-flex ion-align-items-center ">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Cart</ion-label>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <div class="i-flex ion-align-items-center ">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </div>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
