

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- section -->
  <div class="ion-padding-top">
    <h4 class="ion-no-margin">
      All Offers
    </h4>
    <div class="i-flex ion-align-items-center ion-justify-content-between i-border-light ion-margin-bottom ion-padding-10 i-relative">
      
      <div class="ion-text-start ion-align-items-center">
        <div>
          <h5 class="ion-no-margin">Monik dhaba</h5>
          <div class="i-flex ">
            <ion-icon slot="start" name="star" color="warning"></ion-icon>
            <p class="ion-no-margin">4.5 Ratings ~ 500+</p>
          </div>
          <div class="i-flex ion-align-items-center ion-justify-content-between">
            <h6 class="ion-no-margin">Rs100</h6>
            <a href="#" class="link-yellow">Read More</a>
          </div>
        </div>
      </div>

      <div class="i-flex ion-align-items-center i-relative ion-margin-start">
        <div class="img-box-80">
          <img src="assets/images/images (1).jpeg" />
        </div>
        <div class="i-absolute overlap-add-card ion-border">
          <h6 class="ion-no-margin">Add+</h6>
        </div>
      </div>

    </div>
  

    <div class="i-flex ion-align-items-center ion-justify-content-between i-border-light ion-margin-bottom ion-padding-10 i-relative">
      
      <div class="ion-text-start ion-align-items-center">
        <div>
          <h5 class="ion-no-margin">Monik dhaba</h5>
          <div class="i-flex ">
            <ion-icon slot="start" name="star" color="warning"></ion-icon>
            <p class="ion-no-margin">4.5 Ratings ~ 500+</p>
          </div>
          <div class="i-flex ion-align-items-center ion-justify-content-between">
            <h6 class="ion-no-margin">Rs100</h6>
            <a href="#" class="link-yellow">Read More</a>
          </div>
        </div>
      </div>

      <div class="i-flex ion-align-items-center i-relative ion-margin-start">
        <div class="img-box-80">
          <img src="assets/images/images (1).jpeg" />
        </div>
        <div class="i-absolute overlap-add-card ion-border">
          <h6 class="ion-no-margin">Add+</h6>
        </div>
      </div>

    </div>

    <div class="i-flex ion-align-items-center ion-justify-content-between i-border-light ion-margin-bottom ion-padding-10 i-relative">
      
      <div class="ion-text-start ion-align-items-center">
        <div>
          <h5 class="ion-no-margin">Monik dhaba</h5>
          <div class="i-flex ">
            <ion-icon slot="start" name="star" color="warning"></ion-icon>
            <p class="ion-no-margin">4.5 Ratings ~ 500+</p>
          </div>
          <div class="i-flex ion-align-items-center ion-justify-content-between">
            <h6 class="ion-no-margin">Rs100</h6>
            <a href="#" class="link-yellow">Read More</a>
          </div>
        </div>
      </div>

      <div class="i-flex ion-align-items-center i-relative ion-margin-start">
        <div class="img-box-80">
          <img src="assets/images/images (1).jpeg" />
        </div>
        <div class="i-absolute overlap-add-card ion-border">
          <h6 class="ion-no-margin">Add+</h6>
        </div>
      </div>

    </div>

</div>
<!-- section end -->
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
